{% extends './base/base.html' %}
{% load static %}
{% block title %}
  Forecast Dashboard
{% endblock %}
{% load getlist %}

{% block content %}
<style>
.col {
 
  white-space: nowrap;
  
}
.input-group-append {
  cursor: pointer;


}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}


table {
          border-collapse: collapse;    
      }
      td, th {
          border: 1px solid #ccc;
          padding: 10px;
      }
      th:empty {
          border: 0;
      }

.form-control,
.table-condensed {
  width: 130px;
  height:30px;
}
.dropdown {
  width: 100px;
}


</style>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link href="{% static './apexcharts.css' %}" rel="stylesheet"/>
 


<form method="get" class="row row-cols-lg-auto " >
  <div class="row row-cols-lg-3 row-cols-lg-3">
    <div class="col-md-4">
      <div class="row mb-3">
        <div class="card" style="background-color:#c7e9f7;">
      <div class="card-body" > 
        <p> </p>
        
        <div class="row">
        <div class="col">
                    <input id="startDate" name="weather_date" class="form-control" type="date" value="{{request.GET.weather_date}}"/>
                    <span id="startDateSelected"></span>
               
        <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:auto;"name="weather_date" id="id_date">
          <option value="" disabled selected >Date</option>
          {% for d in date_choices %}
            {% if request.GET.weather_date and request.GET.weather_date == d|date:'Y-m-d' %}
            <option value="{{d|date:'Y-m-d'}}" selected="">{{d}}</option>
             {% else %}
            <option value="{{d|date:'Y-m-d'}}">{{d}}</option>
             {% endif %}
             {% endfor %}
        </select> -->
        </div>
        <div class="col">

            <input id="endDate" name="refdate" class="form-control" type="date" value="{{request.GET.refdate}}"/>
            <span id="endDateSelected"></span>
        <!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:auto;"name="refdate" id="id_date">
          <option value="" disabled selected >Reference Date</option>
          {% for d in date_choices %}
            {% if request.GET.refdate and request.GET.refdate == d|date:'Y-m-d' %}
            <option value="{{d|date:'Y-m-d'}}" selected="">{{d}}</option>
             {% else %}
            <option value="{{d|date:'Y-m-d'}}">{{d}}</option>
             {% endif %}
             {% endfor %}
        </select> -->
      </div>
      <div class="col">
      <select class="form-select form-select-sm " aria-label=".form-select-sm example" name="correl_date" id="id_date" style="width:90px;" >
            <option disabled selected>Date</option>
            {% for d in date_choices %}
            {% if request.GET.date and request.GET.date == d|date:'Y-m-d' %}
            <option value="{{d|date:'Y-m-d'}}" selected="">{{d}}</option>
             {% else %}
            <option value="{{d|date:'Y-m-d'}}">{{d}}</option>
             {% endif %}
             {% endfor %}
          </select> 
        </div>
        <div class="col">
          <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
        </div>
      </div>
     
    </div>
    </div>
  </div>



       <div class="row mb-3">
        
      <div class="card">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
          Expand Chart
        </button> 
        <div class="card-body">
          <div id="chartw1"></div> 
          <!-- <canvas id="weatherChart1" width="1000" height="180"> -->
        </canvas>
        </div>
      </div>
    </div>
    

    
     
    <div class="row">
      <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart1_weather" id="id_weather1" >
      
      <option disabled selected>weather 1</option>
      
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart1_weather %} selected="" {% endif %}>{{w}}</option>
        {% endfor %}
     
    </select>
    </div>
    <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart1_weather" id="id_weather2" >
      <option disabled selected>weather 2</option>
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart1_weather  %} selected="" {% endif %}>{{w}}</option>
      {% endfor %}
    </select>
    </div>
    
    <div class="col">
      <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
    </div>
    
    
  </div>
    <div class="row mb-3">
      <div class="card"><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
        Expand Chart
      </button> 
        <div class="card-body">
          <canvas id="weatherChart2" width="1000" height="180"></canvas>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart2_weather" id="id_weather1" >
      
      <option disabled selected>weather 1</option>
      
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart2_weather %} selected="" {% endif %}>{{w}}</option>
        {% endfor %}
     
    </select>
    </div>
    <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart2_weather" id="id_weather2" >
      <option disabled selected>weather 2</option>
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart2_weather  %} selected="" {% endif %}>{{w}}</option>
      {% endfor %}
    </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
    </div>
  </div>
  
    <div class="row mb-3">
      <div class="card"><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
        Expand Chart
      </button> 
        
        <div class="card-body">
          <canvas id="weatherchart3" width="1000" height="180"></canvas>
        </div>
      </div>
    </div>
     
    <div class="row">
      <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart3_weather" id="id_weather1" >
      
      <option disabled selected>weather 1</option>
      
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart3_weather %} selected="" {% endif %}>{{w}}</option>
        {% endfor %}
     
    </select>
    </div>
    <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart3_weather" id="id_weather2" >
      <option disabled selected>weather 2</option>
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart3_weather  %} selected="" {% endif %}>{{w}}</option>
      {% endfor %}
    </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
    </div>
  </div>
  </div>
  

  
    <div class="col-md-6"> 
      <div class="row mb-3">
        <div class="card" style="background-color:#c7e9f7;">
      <div class="card-body">
        <div class="row gap-4">
          <div class="col">
          </div>
          <div class="col">
        <select class="form-select form-select-sm " aria-label=".form-select-lg example"  name="state" id="id_state" style="width:90px;" >
          <option disabled selected>States</option>
          {% for k, v in form.state.field.choices %} 
          <!-- using forms to populate data -->
          <!-- form.state.field.choices -->
          <option value="{{k}}"  {% if request.GET.state ==  k|slugify %} selected{% endif %}>{{v}} </option>
          
          {% endfor %}
        </select>
        </div>
        <div class="col">

          
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="zones" id="id_zones" style="width:90px;">
          <option disabled selected>Zones</option>
          {% for k, v in zones.items %}
          <option value="{{v}}" {% if v == request.GET.zones %} selected="{{v}}" {% endif %}>{{k}} </option>
          {% endfor %}
        </select>
        </div>
      
      
        <div class="col">
          <input id="startDate" style="width:100px;" name="date" id="id_date" class="form-control" type="date" value="{{request.GET.date}}"/>
          <span id="startDateSelected"></span>
          
          </div>
        
        <div class="col">
            <div class="input-group">
              <select class="form-select form-select-sm" multiple="multiple" aria-label=".form-select-sm example" name="ftype" id="id_ftype" style="width:auto;" >
                <option disabled selected>Select Forecast Type</option>
                {% for f in all_forecasttypes %}
                  <option value="{{f}}" {% if f in forecast_types  %} selected="" {% endif %}>{{f}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
        

        <div class="col" align="center">
          <button type="submit" class="btn btn-sm btn-primary ">Get Data</button>
        </div>
        <br>
        
      </div>
    </div>
    </div>
  </div>
       <div class="row mb-3" >
      <div class="card">
        <div class="forecast-card-body">
          <canvas id="overlay" width="1000" height="450" style="position:absolute;pointer-events:none;"></canvas>
          <canvas id="forecast" class="forecastchart" width="1000" height="450"></canvas>
        </div>
      </div>
    </div>
    
   
    
    <!-- Modal -->
    
    

    <div class="row ">
      <div class="card">
        <div class="card-body">
       <canvas id="myChart" width="1000" height="300"></canvas>
        </div>
      </div>
    </div>
    <!-- <div class="row">
    <div class="col">
      <div class="container mt-5">
        <select multiple="multiple" class="selectpicker" multiple aria-label="size 3 select example">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
        </select>
      </div>
      
    </div>
  </div> -->
  <div class="row">
<div class="col">
      <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
    </div>
  </div>
  
</div>
    
    <div class="col-md-2">
      <div class="row mb-3">
        <div class="card" style="background-color:#c7e9f7;">
      <div class="card-body">
        <div class="row">
         
        <div class="col">
          <button type="submit" class="btn btn-sm btn-success">Submit Forecast</button>
        </div>
      </div>
    </div>
    </div>
  </div>
      <div class="row mb-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">From Block</span>
            <script type="text/javascript"> 
              document.getElementById("fromblock").placeholder='{{request.GET.fromBlock}}' ;
            </script>
            <input type="text" class="form-control" id="fromblock" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="fromBlock" value="{{request.GET.fromBlock|default_if_none:''}}">
            <span class="input-group-text" id="inputGroup-sizing-sm">To Block</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="toBlock" value="{{request.GET.toBlock|default_if_none:''}}">
            <button class="btn btn-outline-info" type="submit"   id="button-addon1">Filter</button>
           
             </div>
        </div>
      </div>
            <div class="row">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                
                
                <!-- <input type="hidden" name="chart1.2_weather" value="{{weather1}}">
                <input type="hidden" name="chart2.2_weather" value="{{weather2}}"> -->
                <span class="input-group-text" id="inputGroup-sizing-sm">From value</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  name="fromVal" style="width:35px" value="{{request.GET.fromVal|default_if_none:''}}">

                
                <span class="input-group-text" id="inputGroup-sizing-sm">To value </span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="toVal" style="width:35px" value="{{request.GET.toVal|default_if_none:''}}">
                <!-- <button class="btn btn-outline-info"   id="button-addon2"></button> -->
                <select class="form-select" aria-label="Default select example"  name="Action" style="width:99px">
                {% for action in actions %}
                  <option value="{{action}}" >{{action}}</option>
                {% endfor %}
                  
                </select>
                <button class="btn btn-outline-success" type="submit" id="button-addon1">Preview</button>
                
                 </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                
                <button type="submit" class="btn btn-info btn-sm" name="undo"><i class="fa fa-undo" aria-hidden="true"></i> Undo</button>
                <button type="submit" class="btn btn-outline-danger  btn-sm" name="clearall">Clear all</button>
                
                
                 </div>
          </div>
        </div>

        
        
      </div>
      <div class="card-body">
        <table>
         
          <tr>
              <td>Nearby Dates</td>
              <td><input type="radio" name="row-1" data-col="1">2022-07-1</td>
              <td><input type="radio" name="row-1" data-col="2">2022-07-1</td>
              <td><input type="radio" name="row-1" data-col="3">2022-07-1</td>
          </tr>
          <tr>
              <td>
              <div>
                <select class="form-select form-select-sm" aria-label="Default select example" name="correl_type">
                  
                  <option value="temp_Corr" {% if  request.GET.correl_type == 'temp_Corr' %} selected {% endif %}>temperature</option>
                  <option value="tempf_Corr" {% if  request.GET.correl_type == 'tempf_Corr' %} selected {% endif %}>temperature feelslike</option>
                </select>
                  <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">temperature</a></li>
                    <li><a class="dropdown-item" href="#">temperature feelslike</a></li>
                   
                  </ul> -->
                </div>
              </td>
              {% for w in w_corr_data %}
              <td><input type="radio"   name="w_row" data-col="{{forloop.counter}}"  value="{{w}}" {% if w == request.GET.w_row %} checked {% endif %}> {{w}}</td>
                {% endfor %}

          </tr>
          <tr>
              <td>Corr. Demand</td>
              <td><input type="radio" name="row-3" data-col="1">yyyy-mm-dd</td>
              <td><input type="radio" name="row-3" data-col="2">yyyy-mm-dd</td>
              <td><input type="radio" name="row-3" data-col="3">yyyy-mm-dd</td>
          </tr>
          </table>
      
      
      </div>
    </div>
    </div>
</div>  
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row h-100">
            <div class="col h-100">
              <div id="weather1expd"></div> 
            <!-- <canvas id="#weather1expd" class="forecastchart" width="1000" height="450"></canvas> -->
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel0">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row h-100">
            <div class="col h-100">
            <canvas id="weather2expand" class="forecastchart" width="1000" height="450"></canvas>
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row h-100">
            <div class="col h-100">
            <canvas id="weather3expand" class="forecastchart" width="1000" height="450"></canvas>
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</form>

<script src="{% static './base/apexcharts.js'%}"></script>

{% include './partials/weatherchart1apex.html' %}  
{% include './partials/weatherchart1.html' %} 
{% include './partials/weatherchart2.html' %}  
{% include './partials/weatherchart3.html' %}  
{% include './partials/demandforecast.html' %}
{% include './partials/demandweatherchart.html' %}  
{% endblock %}