{% extends './base/base.html' %}
{% load static %}
{% block title %}
  Forecast Dashboard
{% endblock %}
{% load getlist %}

{% block content %}
<style>
.col {
 
  white-space: nowrap;
  
}
.input-group-append {
  cursor: pointer;


}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}


table {
          border-collapse: collapse;    
      }
      td, th {
          border: 1px solid #ccc;
          padding: 10px;
      }
      th:empty {
          border: 0;
      }
      .card-body > .d-flex > * {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.card-body > .d-flex > select, 
.card-body > .d-flex > .input-group, 
.card-body > .d-flex > .selectpicker {
    margin-right: 5px;
}

.card-body > .d-flex > select:last-child, 
.card-body > .d-flex > .input-group:last-child, 
.card-body > .d-flex > .selectpicker:last-child {
    margin-right: 0;
}


.table-condensed {
  width: 130px;
  height:30px;
}
.dropdown {
  width: 100px;
}

select {
  height: 28px;
}

.bootstrap-select {
  width: 100px !important;
}
.dropdown-menu {
  max-width: 200px;
  min-width: 200px;
}


#top {
  height: 60px;
}
.card #chartw1 {
  margin: 0;
}
.card #chartw2 {
  margin: 0;
}
.card #chartw3 {
  margin: 0;
}
.apexcharts-container {
  display: inline-block;
  width: 100%;
}

#top {
  margin: 0;
}

.card-body {
  margin: 0;
  padding: 0;
}

.input-group,
.input-group-append {
  margin: 0;
}

.selectpicker {
  font-size: 10px !important;
  height: 18px!important;
  max-width: 20px!important;
}
#startDateweather {
  width: 10px !important; /* set the desired width */
  height: 20px; /* set the desired height */
  font-size: 14px; /* set the desired font size */
}
#endDate 
{
  width: 10px !important; /* set the desired width */
  height: 20px; /* set the desired height */
  font-size: 14px; /* set the desired font size */
}

/* Decrease font size of labels */
label {
  font-size: 14px;
}

/* Decrease height of selectpicker */
.bootstrap-select.btn-group > .dropdown-toggle:not([disabled]) {
  height: 10px;
  width: 10px;
  line-height: 18px;
}

/* Decrease font size of select options */
.dropdown-menu li a {
  font-size: 14px;
}
label {
    font-size: 10px;
}



.form-group {
    margin-bottom: 2px;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    padding-left: 10px;
}

.form-switch {
    padding-left: 2.5em;
    font-size: 10px;
}
.form-control {
  
    height: 21px !important;
    font-size: 9px!important;

}
element.style {
    font-size: 9px;
}

.form-select-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 9px;
    height: fit-content;
    width: 78%
}
#chart1_p2 {
  margin-left: -20px;
}
#id_weather2_2 {
  margin-left: 2px;
}

#id_weather3_2 {
  margin-left: 2px;
}
#id_zones {
  width:80px;
  margin-left: -6px !important;


}
.card-logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Optional: Add spacing between the logo and card content */
  margin-left: 225px;
}
.nav-link{
  font-size: 11px;
  font-weight: 500;

}
#inputGroup-sizing-sm{
  font-size: 10px;
  border-radius: 5px;
  height: 20px;
}
#button-addon1 {
  font-size: 11px;
  margin-left: 2px;
  border-radius: 5px;
}
#Action {
  width: 70px;
  font-size: 9px;
  height: 21px;
  border-radius: 5px;
  margin-left: 2px;
}
#preview {
  width: 50px;
  font-size: 9px;
  height: 21px;
  border-radius: 5px;
 
}
#undo{
  width: 50px;
  font-size: 9px;
  height: 21px;
  border-radius: 5px;
  margin-left: 1px;

}
#clearall{
  width: 50px;
  font-size: 9px;
  height: 21px;
  border-radius: 5px;
  margin-left: 1px;
}
#corrdata {
  width: fit-content;
  font-size: 9px;
  height: 21px;
  border-radius: 5px;
  margin-left: 9px;
}
#corrdata_clr{

  width: fit-content;
  font-size: 9px;
  height: 21px;
  border-radius: 5px;
  margin-left: 21px;
}
.apexcharts-text tspan {
    font-family: inherit;
    font-size: 8px;
}
apexcharts-yaxis-title {
 
  font-size: 8px;
}
#wdates {
  margin-left: 2px;
}
.btn{
  background-color: #7bbbff;
  color:#ffffff
}

.expand {
    background-color: #ffffff00!important;
    color: #010101!important;
}
#w1_para {
margin-left: 2px;
}
#w2_para {
  margin-left: 2px;
}
#w3_para{
  margin-left: 2px;
}
.bs-placeholder {
  background-color: transparent;
}

</style>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link href="{% static './apexcharts.css' %}" rel="stylesheet"/>
 

<div class="row">

    <div class="col-md-3"  style="display: flex; flex-direction: column;">
      <form>
       
        
        
        



      <div class="row mb-3">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-sm-3">
            <div class="input-group">
              <input id="startDateweather" name="weather_date" class="form-control form-control-sm datepicker" type="date" value="{{weather_date}}" placeholder="Start Date"/>
              <div class="input-group-append">
               
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <input id="endDate" name="refdate" class="form-control form-control-sm datepicker" type="date" value="{{refdate}}" placeholder="End Date"/>
              
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group">



              <select class="form-control selectpicker"    multiple data-live-search="true" id="w1city_selected" name="w1city_selected" >
                <option value="" selected disabled>Filter Cities</option> <!-- Default text option -->
                {% for city in all_cities %}
                <option value="{{city}}" {% if city in request.GET|get_list:'w1city_selected'  %} selected="" {% endif %} >{{city}}</option>
                {% endfor %}
              </select>
          </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
            <button type="submit" class="btn btn-sm btn-secondary" id="wdates">Apply</button>
          </div>
          </div>
        </div>
        <button type="button" class="btn expand" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="height: 12px; font-size: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
          Expand Chart
        </button> 
       
          <div id="chartw1"></div> 
          <div class="row no-gutters"   style="margin-top: -16px;"  >
            <div class="col">
              <div class="input-group">
          <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart1_p1" id="id_weather1" >
            
            <option disabled selected>weather 1</option>
            
            {% for w in weather_parameters %}
            <option value="{{w}}" {% if w in request.GET.chart1_weather %} selected="" {% endif %}>{{w}}</option>
              {% endfor %}
           
          </select>
        </div>
          </div>
          <div class="col">
            <div class="input-group">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart1_p2" id="id_weather2" style="
          margin-left: 1px;" >
            <option disabled selected>weather 2</option>
            {% for w in weather_parameters %}
            <option value="{{w}}" {% if w in request.GET.chart1_weather  %} selected="" {% endif %}>{{w}}</option>
            {% endfor %}
          </select>
        </div>
          
        </div>
          
          <div class="col">
            <div class="input-group">
            <button type="submit" class="btn btn-sm btn-secondary " id="w1_para">Apply</button>
          </div>
          </div>
        </div>
        
      </div>
    </div>
    
    
  
    <div class="row mb-3">
      <div class="card" style="margin-top: -16px";>
        <button type="button" class="btn expand" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="height: 12px; font-size: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        Expand Chart
      </button> 
       
          <div id="chartw2"></div> 


          <div class="row no-gutters" style="margin-top: -16px;">
            <div class="col">
              <div class="input-group">
          <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart2_weather" id="id_weather2_1" >
            <option disabled selected>weather 1</option>
            {% for w in weather_parameters %}
            <option value="{{w}}" {% if w in request.GET.chart2_weather %} selected="" {% endif %}>{{w}}</option>
              {% endfor %}
          </select>
          </div>
        </div>
          <div class="col">
            <div class="input-group">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart2_weather" id="id_weather2_2" >
            <option disabled selected>weather 2</option>
            {% for w in weather_parameters %}
            <option value="{{w}}" {% if w in request.GET.chart2_weather  %} selected="" {% endif %}>{{w}}</option>
            {% endfor %}
          </select>
          </div>
        </div>
          <div class="col">
            <div class="input-group">
            <button type="submit" class="btn btn-sm btn-secondary " id="w2_para">Apply</button>
          </div>
          </div>
        </div>
        
      </div>
    </div>
    
    
  
    <div class="row mb-3">
      <div class="card" style="margin-top: -15px;">
        <button type="button" class="btn expand" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="height: 12px; font-size: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
        Expand Chart
      </button> 
          <div id="chartw3"></div>
          
          <div class="row no-gutters" style="margin-top: -16px;">
            <div class="col">
              <div class="input-group">
          <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart3_weather" id="id_weather3_1" >
            
            <option disabled selected>weather 1</option>
            
            {% for w in weather_parameters %}
            <option value="{{w}}" {% if w in request.GET.chart3_weather %} selected="" {% endif %}>{{w}}</option>
              {% endfor %}
           
          </select>
        </div>
          </div>
          <div class="col">
            <div class="input-group">
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart3_weather" id="id_weather3_2" >
            <option disabled selected>weather 2</option>
            {% for w in weather_parameters %}
            <option value="{{w}}" {% if w in request.GET.chart3_weather  %} selected="" {% endif %}>{{w}}</option>
            {% endfor %}
          </select>
          </div>
        </div>
          <div class="col">
            <div class="input-group">
            <button type="submit" class="btn btn-sm btn-secondary " id="w3_para">Apply</button>
          </div>
        </div>
        </div>
      </div>
      
    </div>
     
    
</form>
  </div>
  

    <div class="col-md-6">
      <form > 
        {% csrf_token %} 
        <div class="row mb-3">
          <div class="card" style="background-color:#ffffff;" id="top">
            <div class="card-body">
              <img src="https://mercadosemi.in/memi2023/wp-content/uploads/2023/05/memi-logo.jpg" alt="Logo" class="card-logo">
            </div>
          </div>
        </div>
        
        
        
        
        
        
       <div class="row mb-3" >
      <div class="card">
        
        <div class="forecast-card-body">
          <div class="d-flex align-items-center">
            <select class="form-select form-select-sm me-2" aria-label=".form-select-lg example" name="state" id="id_state" style="width:75px;">
              <option disabled selected>States</option>
              {% for k, v in form.state.field.choices %}
              <option value="{{k}}" {% if k|slugify in request.GET.state and state_input %} selected{% endif %}>{{v}} </option>
              {% endfor %}
            </select>
            <select class="form-select form-select-sm me-2" aria-label=".form-select-sm example" name="zones" id="id_zones" style="width:80px;">
              <option value="" {% if not request.GET.zones %} selected {% endif %} selected>No Zone</option>
              {% for k, v in zones.items %}
              <option value="{{v}}" {% if v == request.GET.zones %} selected="{{v}}" {% endif %}>{{v}} </option>
              {% endfor %}
            </select>
            <div class="input-group me-2" style="width: 70px; display: flex; justify-content: center;">
              <input id="startDate" name="date" id="id_date" class="form-control" type="date" value="{{date}}" style="width: 80%;font-size: 8px;font-weight: 500;margin-left: -6px;"/>
              <span id="startDateSelected"></span>
            </div>
            <div class="col me-0">
              <div class="input-group"style="margin-left: -26px;">
                <select class="selectpicker form-select-sm" multiple aria-label=".form-select-sm example" name="ftype" id="id_ftype" data-style="small" >
                  <option disabled>Select Forecast Type</option>
                  {% for f in all_forecasttypes %}
                  <option value="{{f}}" {% if f in forecast_types  %} selected="" {% endif %}>{{f}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button type="submit" id="getdata" class="btn btn-sm btn-primary" style="padding-top: .2rem; padding-bottom: .2rem;">Get Data</button>
          </div>
          <canvas id="overlay" width="1000" height="450" style="position:absolute;pointer-events:none;"></canvas>
          <div id="chart"></div> 
        </div>
      </div>
    </div>
</form>
</div>

    
    <div class="col-md-3">
      
      <div class="row mb-3">
        <div class="card" style="background-color:#ffffff;" id="top">
      <div class="card-body">
        <div class="row">
         
        <div class="col">
          <button type="submit" class="btn btn-sm btn-success">Submit Forecast</button>
        </div>
        <div class="col">
            <a class="nav-link" href="#" style="margin-left: 91px;">Logout</a>
      </div>
      </div>
    </div>
    </div>
  </div>
  <form>
      <div class="row mb-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
          <div class="input-group input-group-sm mb-3" style="margin-top: 5px;
      ">
            <span class="input-group-text" id="inputGroup-sizing-sm">From Block</span>
            <script type="text/javascript"> 
              document.getElementById("fromBlock").placeholder='{{request.GET.fromBlock}}' ;
            </script>
            <input type="text" class="form-control" id="fromBlock" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  name="fromBlock" value="{{request.GET.fromBlock|default_if_none:''}}" style=" border-radius: 5px;margin-left: 1px; margin-right: 4px;">
            <span class="input-group-text" id="inputGroup-sizing-sm">To Block</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="toBlock" name="toBlock" value="{{request.GET.toBlock|default_if_none:''}}"  style=" border-radius: 5px;margin-left: 1px;">
            <!-- <button class="btn btn-outline-info" type="submit"   id="button-addon1">Filter</button> -->
             </div>
        </div>
      </div>
            <div class="row">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                
                
               
                <span class="input-group-text" id="inputGroup-sizing-sm">From value</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="fromVal" name="fromVal" style=" border-radius: 5px;margin-left: 1px; margin-right: 4px; width:22px;" value="{{request.GET.fromVal|default_if_none:''}}">

                
                <span class="input-group-text" id="inputGroup-sizing-sm">To value </span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="toVal" name="toVal" style=" border-radius: 5px;margin-left: 1px; width:22px;" value="{{request.GET.toVal|default_if_none:''}}">
                <!-- <button class="btn btn-outline-info"   id="button-addon2"></button> -->
                <select class="form-select" aria-label="Default select example" id="Action" name="Action" >
                {% for action in actions %}
                  <option value="{{action}}" {% if d in request.GET.Action   %} selected="" {% endif %} >{{action}}</option>
                {% endfor %}
                </select>
                <div id="averageSelect" style="display: none;">
                  <select class="form-control selectpicker" data-live-search="true" id="selectavgdate">
                    {% for d in actual_date_choices %}
                    <option value="{{ d|date:'Y-m-d' }}" {% if d in request.GET.Actual   %} selected="" {% endif %}>{{ d|date:'Y-m-d' }}</option>
                   {% endfor %}
                  </select>
                </div>
              
                 </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <button class="btn btn-outline-success" id="preview" type="submit" >Preview</button>
                <button type="submit" class="btn btn-info btn-sm" id="undo" name="undo"><i class="fa fa-undo" aria-hidden="true"></i> Undo</button>
                <button type="submit" class="btn btn-outline-danger btn-sm" id="clearall" name="clearall">Clear all</button>
              </div>
          </div>
        </div>
      </div>


      
      <div class="card-body">
        <div class="container mt-5">
          <div class="row">
            <div class="col-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="togglescada" checked>
            <label class="form-check-label" for="toggleSwitch">Scada</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="toggleactual" checked>
            <label class="form-check-label" for="toggleSwitch2">Actual</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="togglememi" checked>
            <label class="form-check-label" for="toggleSwitch3">MEMI</label>
          </div>
        </div>
        <div class="col-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="togglensembl" checked>
            <label class="form-check-label" for="toggleSwitch4">Ensemble</label>
          </div>
        </div>




        
      </div>
          
          
          <div class="form-group">
            <label for="select1">Nearby Dates Actual</label>
            <select class="form-control selectpicker" multiple data-live-search="true" id="selectactdate" >
              {% for d in actual_date_choices %}
              <option value="{{ d|date:'Y-m-d' }}" {% if d in request.GET.Actual   %} selected="" {% endif %}>{{ d|date:'Y-m-d' }}</option>
             {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="select2">Temperature Corr </label>
            <select class="form-control selectpicker" multiple data-live-search="true" id="temp_corrdate">
              {% for w in temp_corr_data %}
              <option value="{{w}}" {% if w in request.GET|get_list:'t_correl_date' %} selected="" {% endif %}>{{w}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="select3">Temperature-F Corr</label>
            <select class="form-control selectpicker" multiple data-live-search="true" id="tempf_corrdate">
              {% for w in tempf_corr_data %}
                <option value="{{w}}" {% if w in request.GET|get_list:'tf_correl_date' %} selected="" {% endif %}>{{w}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="select3">Demand Corr :</label>
            <select class="form-control selectpicker" multiple data-live-search="true" id="demand_corrdate">
              {% for w in d_corr_data %}
              <option value="{{w}}" {% if w in request.GET|get_list:'d_row' %} selected="" {% endif %}>{{w}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        
          <div class="row">
            <div class="input-group input-group-sm mb-3">
            <div class="col">
              
          <button type="submit" class="btn btn-info btn-sm" id="corrdata" >Get Corr Data</button>
        </div>
          <div class="col">
          <button type="submit" class="btn btn-outline-danger btn-sm" id="corrdata_clr" >Clear Corr Data</button>
        </div>
      </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    </div>
  </form>
</div>  
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row h-100">
            <div class="col h-100">
              <div id="weather1expd"></div> 
            <!-- <canvas id="#weather1expd" class="forecastchart" width="1000" height="450"></canvas> -->
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel0">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row h-100">
            <div class="col h-100">
              <div id="weather2expd"></div>
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row h-100">
            <div class="col h-100">
              <div id="weather3expd"></div> 
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{{ datasets|json_script:"datasets" }}
{{ weather2_data_one|json_script:"weather2_data_one" }}
{% now "Y-m-d" as today %}
<script>

 

 sessionStorage.clear()

 $(document).ready(function() {
  $('#togglescada').on('change', function() {
    if ($(this).is(':checked')) {
      scada="scadaon"
      chartdata = sessionStorage.getItem("chartdata");
      var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();

      $.ajax({
      url: '/',
      type: 'POST',
      data: {
        scada: scada,
        chartdata:chartdata,
        csrfmiddlewaretoken:csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
  
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
      
    }
    
    else {
      var scada = "scada";
      var chartdata = sessionStorage.getItem("chartdata");
      var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        scada: scada,
        chartdata:chartdata,
        csrfmiddlewaretoken:csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
  
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
      
    }
  });


 $('#toggleactual').on('change', function() {
    if ($(this).is(':checked')) {
      actual="actualon"
      chartdata = sessionStorage.getItem("chartdata");
      var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();

      $.ajax({
      url: '/',
      type: 'POST',
      data: {
        actual: actual,
        chartdata:chartdata,
        csrfmiddlewaretoken:csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
  
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
      
    }
    
    else {
      var actual = "actual";
      var chartdata = sessionStorage.getItem("chartdata");
      var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        actual: actual,
        chartdata:chartdata,
        csrfmiddlewaretoken:csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
  
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
      
    }
  });

  $('#togglememi').on('change', function() {
    if ($(this).is(':checked')) {
      memi="memion"
      chartdata = sessionStorage.getItem("chartdata");
      var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();

      $.ajax({
      url: '/',
      type: 'POST',
      data: {
        memi: memi,
        chartdata:chartdata,
        csrfmiddlewaretoken:csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
  
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
      
    }
    
    else {
      var memi = "memi";
      var chartdata = sessionStorage.getItem("chartdata");
      var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        memi: memi,
        chartdata:chartdata,
        csrfmiddlewaretoken:csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
  
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
      
    }
  });

  $('#togglensembl').on('change', function() {
    if ($(this).is(':checked')) {
      ensmbl="ensmblon"
      chartdata = sessionStorage.getItem("chartdata");
      var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();

      $.ajax({
      url: '/',
      type: 'POST',
      data: {
        ensmbl: ensmbl,
        chartdata:chartdata,
        csrfmiddlewaretoken:csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
  
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
      
    }
    
    else {
      var  ensmbl="ensmbl";
      var chartdata = sessionStorage.getItem("chartdata");
      var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        ensmbl:  ensmbl,
        chartdata:chartdata,
        csrfmiddlewaretoken:csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
  
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
      
    }
  });


}




);
  $('#getdata').on('click', function(event) {
    event.preventDefault();
    var state = $('#id_state').val();
    var zones = $('#id_zones').val();
    var date = $('#startDate').val();
    var ftype = $('#id_ftype').val();
    var ftype_string = JSON.stringify(ftype);
    var chartdata = sessionStorage.getItem("chartdata");
    
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        state: state,
        zones: zones,
        date: date,
        ftype: ftype_string,
        chartdata:chartdata,
        csrfmiddlewaretoken: csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
        console.log( 'getdata: ',data)
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
});


$('#preview').on('click', function(event) {
    event.preventDefault();
    var fromVal= $('#fromVal').val();
    var toVal = $('#toVal').val();
    var fromBlock= $('#fromBlock').val();
    var toBlock= $('#toBlock').val();
    var Action= $('#Action').val();
    var avgdate=$('#selectavgdate').val();
    var Date= $('#startDate').val();
    var state = $('#id_state').val();
    var chartdata = sessionStorage.getItem("chartdata");
    var storedData = sessionStorage.getItem("storedData");
    var historicalData = storedData ? JSON.parse(storedData) : [];
    if (historicalData.length === 0) {
        historicalData.push(chartdata);
      }
    console.log("historical1",historicalData )
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    
    $.ajax({
      url: 'preview/',
      type: 'POST',
      data: {
        fromVal: fromVal,
        toVal:toVal,
        fromBlock:fromBlock,
        toBlock: toBlock,
        Action:Action,
        Date:Date,
        state:state,
        datasets: datasets,
        chartdata:chartdata,
        avgdate:avgdate,
        csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      
      success: function(data) {   
      // $('#chartw1').empty();
      sessionStorage.setItem("chartdata", data);
      
      historicalData.push(data);
     
      sessionStorage.setItem("storedData", JSON.stringify(historicalData));
      

      updateChartdemWithData(data);
      
      // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        // console.log(xhr.responseText);
      }
    });

});
$('#corrdata').on('click', function(event) {
    event.preventDefault();
    var corr_data="corr_data";
    var actDates=$('#selectactdate').val();
    var tempdate=$('#temp_corrdate').val();
    var tempfdate=$('#tempf_corrdate').val();
    var demcorrdate=$('#demand_corrdate').val();
    var chartdata = sessionStorage.getItem("chartdata");
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    console.log()
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        actDates: actDates,
        tempdate: tempdate,
        tempfdate: tempfdate,
        demcorrdate:demcorrdate,
        chartdata:chartdata,
        corr_data:corr_data,
        csrfmiddlewaretoken: csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
        console.log( 'getdata: ',data)
        // sessionStorage.setItem("chartdata", data)

        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });

});

$('#corrdata_clr').on('click', function(event) {
    event.preventDefault();
    var corrdata_clr="corrdata_clr";
    var chartdata = sessionStorage.getItem("chartdata");
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    console.log()
    $.ajax({
      url: '/',
      type: 'POST',
      data: {
        chartdata:chartdata,
        corrdata_clr:corrdata_clr,
        csrfmiddlewaretoken: csrfmiddlewaretoken

      },
      
      success: function(data) {
        sessionStorage.setItem("chartdata", data);
        console.log(data,"cahrtdataCOrr")
        updateChartdemWithData(data)
        // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });

});

$(document).ready(function() {
  $('#Action').change(function() {
    var selectedValue = $(this).val();
    if (selectedValue === 'Average') {
      $('#averageSelect').show();
    } else {
      $('#averageSelect').hide();
    }
  });
});



$('#wdates, #w1_para').on('click', function(event) {
    event.preventDefault();
    var wdate= $('#startDateweather').val();
    var wdate_ref = $('#endDate').val();
    var p1 = $('#id_weather1').val();
    var p2 = $('#id_weather2').val();
    var w1city_selected=$('#w1city_selected').val();
    var w1city_selected_string = JSON.stringify(w1city_selected);
   
    // console.log("w1city_selected",w1city_selected_string)
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    
    $.ajax({
      url: 'weather/',
      type: 'POST',
      data: {
        wdate: wdate,
        wdate_ref:wdate_ref,
        p1: p1,
        p2: p2,
        w1city_selected:w1city_selected_string,
        csrfmiddlewaretoken: csrfmiddlewaretoken

      },
      
      success: function(data) {   
      $('#chartw1').empty();
      // console.log("weather_data_one",weather_data_one)

      
      console.log("weather_data_one//",data)
      weatherChart1(data)
      // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        // console.log(xhr.responseText);
      }
    });

});


$('#wdates, #w2_para').on('click', function(event) {
    event.preventDefault();
    var wdate= $('#startDateweather').val();
    var wdate_ref = $('#endDate').val();
    var p1 = $('#id_weather2_1').val();
    var p2 = $('#id_weather2_2').val();
    var w1city_selected=$('#w1city_selected').val();
    var w1city_selected_string = JSON.stringify(w1city_selected);
   
    console.log("w1city_selected22222",w1city_selected_string)
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    
    $.ajax({
      url: 'weather2/',
      type: 'POST',
      data: {
        wdate: wdate,
        wdate_ref:wdate_ref,
        p1: p1,
        p2: p2,
        w1city_selected: w1city_selected_string,
        csrfmiddlewaretoken: csrfmiddlewaretoken

      },
      
      success: function(data) {   
      $('#chartw2').empty();
      // console.log("weather2_data_one",weather2_data_one)
      // const weather2_data = JSON.parse(document.getElementById('weather2_data_one').textContent);  
      
      weatherChart2(data)
      // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });

});


$('#wdates, #w3_para').on('click', function(event) {
    event.preventDefault();
    var wdate= $('#startDateweather').val();
    var wdate_ref = $('#endDate').val();
    var p1 = $('#id_weather3_1').val();
    var p2 = $('#id_weather3_2').val()
    var w1city_selected=$('#w1city_selected').val();
    var w1city_selected_string = JSON.stringify(w1city_selected);
   
    console.log("weatherdate3333",w1city_selected_string)
    var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
    
    $.ajax({
      url: 'weather3/',
      type: 'POST',
      data: {
        wdate: wdate,
        wdate_ref:wdate_ref,
        p1: p1,
        p2: p2,
        w1city_selected:w1city_selected_string,
        csrfmiddlewaretoken: csrfmiddlewaretoken

      },
      
      success: function(data) {   
      $('#chartw3').empty();
      console.log("weather3_data_one",weather3_data_one)
      const weather3_data = JSON.parse(document.getElementById('weather3_data_one').textContent);  
      
      weatherChart3(data)
      // Code to receive and display the fetched data
      },
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });

});

$('#undo').on('click', function(event) {
  event.preventDefault();
  
  var storedData = sessionStorage.getItem("storedData");
  var historicalData = storedData ? JSON.parse(storedData) : [];
  console.log(historicalData,"historicalDataundo")
  // Retrieve the last stored data from historicalData
  var lastData = historicalData.pop();
  sessionStorage.setItem("chartdata",lastData)
  // Update the chart with the last stored data
  updateChartdemWithData(lastData);
  
  // Store the updated historicalData array in session storage
  sessionStorage.setItem("storedData", JSON.stringify(historicalData));
  
  // console.log("Stored historical data:", historicalData);
});


function updateChartdemWithData(data) {
  data = JSON.parse(data);
  chartdem.updateSeries(data);
}


</script>



<script src="{% static './base/apexcharts.js'%}"></script>

{% include './partials/weatherchart1apex.html' %}  
{% include './partials/weatherchart2apex.html' %}
{% include './partials/weatherchart3apex.html' %}  
{% include './partials/weatherchart3.html' %}  
{% include './partials/demandforecast.html' %}
{% include './partials/demandweatherchart.html' %}  
{% include './partials/demandforecastApex.html' %}
{% endblock %}