{% extends './base/base.html' %}
{% load static %}
{% block title %}
  Forecast Dashboard
{% endblock %}
{% load getlist %}

{% block content %}
<style>
.col {
 
  white-space: nowrap;
}
</style>

  <div class="row row-cols-2 row-cols-lg-3">
    <div class="col-md-3">
      <div class="row mb-3">
        <div class="card" style="background-color:#c7e9f7;">
      <div class="card-body">
      <form method="get" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="row">
          <div class="col ">
        <select class="form-select form-select-sm"  aria-label=".form-select-sm example" style="width:auto;">
          <option value="" disabled selected>Select date</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        </div>
        <div class="col">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:auto;">
          <option value="" disabled selected >Reference Date</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
        </div>
      </div>
      </form>
    </div>
    </div>
  </div>
       <div class="row mb-3"><h5>Temperature Dewpoint & Temperature Feels Like</h5>
      <div class="card">
        <div class="card-body"> 
          <canvas id="weatherChart1" width="1000" height="250">
        </canvas>
        </div>
      </div>
    </div>
    <form method="get" class="row row-cols-lg-auto g-3 align-items-center">
      <input type="hidden" name="chart1_weather_state" value="{{request.GET.state}}">
      <input type="hidden" name="date" value="{{request.GET.date}}">
      <input type="hidden" name="ftype" value="{{request.GET.ftype}}">
    <div class="row">
      <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart1_weather" id="id_weather1" >
      
      <option disabled selected>weather 1</option>
      
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart1_weather %} selected="" {% endif %}>{{w}}</option>
        {% endfor %}
     
    </select>
    </div>
    <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart1_weather" id="id_weather2" >
      <option disabled selected>weather 2</option>
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart1_weather  %} selected="" {% endif %}>{{w}}</option>
      {% endfor %}
    </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
    </div>
  </div>
  </form>
    <div class="row mb-3">
      <div class="card">
        <div class="card-body">
          <canvas id="weatherChart2" width="1000" height="450"></canvas>
        </div>
      </div>
    </div>
    <form method="get" class="row row-cols-lg-auto g-3 align-items-center">
      <input type="hidden" name="chart1_weather_state" value="{{request.GET.chart1_weather_state}}">
      <input type="hidden" name="date" value="{{request.GET.date}}">
      <input type="hidden" name="ftype" value="{{request.GET.ftype}}">
      <input type="hidden" name="chart1.2_weather" value="{{weather1}}">
    <div class="row">
      <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart2_weather" id="id_weather1" >
      
      <option disabled selected>weather 1</option>
      
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart2_weather %} selected="" {% endif %}>{{w}}</option>
        {% endfor %}
     
    </select>
    </div>
    <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart2_weather" id="id_weather2" >
      <option disabled selected>weather 2</option>
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart2_weather  %} selected="" {% endif %}>{{w}}</option>
      {% endfor %}
    </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
    </div>
  </div>
  </form>
    <div class="row mb-3">
      <div class="card">
        <div class="card-body">
          <canvas id="weatherchart3" width="1000" height="450"></canvas>
        </div>
      </div>
    </div>
    <form method="get" class="row row-cols-lg-auto g-3 align-items-center">
      <input type="hidden" name="chart1_weather_state" value="{{request.GET.chart1_weather_state}}">
      <input type="hidden" name="date" value="{{request.GET.date}}">
      <input type="hidden" name="ftype" value="{{request.GET.ftype}}">
      <input type="hidden" name="chart1.2_weather" value="{{weather1}}">
      <input type="hidden" name="chart2.2_weather" value="{{weather2}}">
    <div class="row">
      <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="chart3_weather" id="id_weather1" >
      
      <option disabled selected>weather 1</option>
      
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart3_weather %} selected="" {% endif %}>{{w}}</option>
        {% endfor %}
     
    </select>
    </div>
    <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="chart3_weather" id="id_weather2" >
      <option disabled selected>weather 2</option>
      {% for w in weather_parameters %}
      <option value="{{w}}" {% if w in request.GET.chart3_weather  %} selected="" {% endif %}>{{w}}</option>
      {% endfor %}
    </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
    </div>
  </div>
  </form>
  </div>
    <div class="col-md-6"> 
      <div class="row mb-3">
        <div class="card" style="background-color:#c7e9f7;">
      <div class="card-body">
      <form method="get" class="row row-cols-lg-auto g-3 ">
        <div class="row gap-4">
          <div class="col">
            <h5>Demand Forecast</h5>
          </div>
          <div class="col">
        <select class="form-select form-select-sm " aria-label=".form-select-lg example"  name="state" id="id_state" >
          <option disabled selected>States</option>
          {% for k, v in states.items %}
          <option value="{{k}}" {% if k == request.GET.state or k == request.GET.chart1_weather_state %} selected="" {% endif %}>{{k}}</option>
          <p>{{k}}</p>
          {% endfor %}
        </select>
        </div>
        <div class="col">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="zones" id="id_zones" style="width:auto;">
          <option disabled selected>Zones</option>
          <option value="EZ">East Zone</option>
          <option value="CZ">Central Zone</option>
          <option value="WZ">West Zone</option>
          <option value="NZ">North Zone</option>
          <option value="SZ">South Zone</option>
        </select>
        </div>
        <div class="col">
          <select class="form-select form-select-sm " aria-label=".form-select-sm example" name="date" id="id_date" >
            <option disabled selected>Date</option>
            {% for d in date_choices %}
            {% if request.GET.date and request.GET.date == d|date:'Y-m-d' %}
            <option value="{{d|date:'Y-m-d'}}" selected="">{{d}}</option>
             {% else %}
            <option value="{{d|date:'Y-m-d'}}">{{d}}</option>
             {% endif %}
             {% endfor %}
          </select>
          </div>
        
        <div class="col">
            <div class="input-group">
              <select class="form-select form-select-sm" multiple="multiple" aria-label=".form-select-sm example" name="ftype" id="id_ftype" style="width:auto;" >
                <option disabled selected>Select Forecast Type</option>
                {% for f in all_forecasttypes %}
                  <option value="{{f}}" {% if f in forecast_types  %} selected="" {% endif %}>{{f}}</option>
                {% endfor %}
              </select>
            </div>
        </div>

        <div class="col" align="center">
          <button type="submit" class="btn btn-sm btn-primary ">Get Data</button>
        </div>
        <br>
        
      </div>
      </form>
    </div>
    </div>
  </div>
       <div class="row mb-3" >
      <div class="card">
        <div class="card-body">
          <canvas id="overlay" width="1000" height="450" style="position:absolute;pointer-events:none;"></canvas>
          <canvas id="forecast" width="1000" height="450"></canvas>
        </div>
      </div>
    </div>
    

    <div class="row mb-3">
      <div class="card">
        <div class="card-body">
          <canvas id="weatherChart" width="1000" height="290"></canvas>
        </div>
      </div>
    </div>
    <form method="get" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="row">
    <div class="col">
    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-sm btn-secondary ">Apply</button>
    </div>
  </div>
  </form>
    </div>

    
    <div class="col-md-3">
      <div class="row mb-3">
        <div class="card" style="background-color:#c7e9f7;">
      <div class="card-body">
      <form method="get" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="row">
         
        <div class="col">
          <button type="submit" class="btn btn-sm btn-success">Submit Forecast</button>
        </div>
      </div>
      </form>
    </div>
    </div>
  </div>
      <div class="row mb-3">
      <div class="card">
        <div class="card-body">
          <form method="get" class="row row-cols-lg-auto ">
          <div class="row">
            <div class="col">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">From Block</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="fromBlock">
            <span class="input-group-text" id="inputGroup-sizing-sm">To Block</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="toBlock">
            <button class="btn btn-outline-info" type="submit"   id="button-addon1">Filter</button>
           
             </div>
        </div>
      </div>
            <div class="row">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <input type="hidden" name="state" value="{{request.GET.state}}">
                <input type="hidden" name="date" value="{{request.GET.date}}">
                <input type="hidden" name="ftype" value="{{request.GET.ftype}}">
                <!-- <input type="hidden" name="chart1.2_weather" value="{{weather1}}">
                <input type="hidden" name="chart2.2_weather" value="{{weather2}}"> -->
                <span class="input-group-text" id="inputGroup-sizing-sm">From value</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  name="fromVal" style="width:35px">
                <span class="input-group-text" id="inputGroup-sizing-sm">To value </span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="toVal" style="width:35px">
                <!-- <button class="btn btn-outline-info"   id="button-addon2"></button> -->
                <select class="form-select" aria-label="Default select example"  name="Action" style="width:99px">
                  <option selected>Action</option>
                  <option value="Add">Add</option>
                  <option value="Multiply">Multiply</option>
                  <option value="Average" >Average</option>
                  <option value="Shift left">Shift left</option>
                  <option value="Shift right">Shift right</option>
                  <option value="Smooth">Smooth</option>
                  
                </select>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Preview</button>
                
                 </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
{% include './partials/weatherchart1.html' %}  
{% include './partials/weatherchart2.html' %}  
{% include './partials/weatherchart3.html' %}  
{% include './partials/demandforecast.html' %}
{% endblock %}