
<script>
 
  // sessionStorage.setItem("chartdata",  datasets)
  datasetssession = JSON.parse(`{{datasets|safe}}`)
  sessionStorage.setItem("chartdata", JSON.stringify(datasetssession));
  datasets = JSON.parse(`{{datasets|escapejs}}`)
  labels = JSON.parse (`{{labels}}`)
    
  var options = {
  chart: {
    type: 'line'
  },
  series: datasets,
  xaxis: {
          categories: labels ,
          showDuplicates: true,
          labels: {
    formatter: function (value){
      if (value % 4 == 0 ){
      return  value;
                        }
      return ""
    }
  }},
  legend: {
          show: true,
          showForSingleSeries: true,
          showForNullSeries: true,
          showForZeroSeries: true,
        },
          
  plotOptions: {
          bar: {
      columnWidth: "20%"
    }},
        plotOptions: {
          bar: {
      columnWidth: "20%"
    }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
    width: [1.5, 1.5,1.5,1.5]
  },
        yaxis: {
          axisTicks: {
        show: true
      },
      axisBorder: {
        show: true,
        color: "#FF1654"
      },
      labels: {
    formatter: function (value){
      return  value 
    }
  },
  
       title: {
            text: 'Demand'
          }
        },
        fill: {
          opacity: 1
        },
        
        tooltip: {
          
          y: {
            formatter: function (val) {
              return  val + " KW"
            }
          },
          x: {
            formatter: function (val) {
              return "Block " + val 
            }
          }
        }
        
        
        
        }
  options.series.forEach(function(series) {
  series.stroke = series.stroke || {};
});
  options.series.forEach(function(series) {
  if (series.name === 'MEMI') {
    series.stroke.dashArray = [5, 3]; 
  }
});

var chartdem = new ApexCharts(document.querySelector("#chart"), options);

chartdem.render();
var lineStates = {
  "Actual": true,
  "Scada": true,
  "MEMI": true,
  "Ensemble": true,
  "forecast": true,
  "Scada": true,
};
chart.legend.onItemClick = function(seriesName) {
  lineStates[seriesName] = !lineStates[seriesName];
  updateChart();
};
function updateChart() {
  var updatedSeries = [];
  
  chartOptions.series.forEach(function(series) {
    // Check the state of the line
    if (lineStates[series.name]) {
      updatedSeries.push(series);
    }
  });
  
  chart.updateSeries(updatedSeries);
}

</script>