
<script type="text/javascript">
  datasets = JSON.parse(`{{datasets|escapejs}}`)
  
  labels = JSON.parse(`{{labels}}`)
  var demanddata= {
    labels: labels,
    datasets:datasets
  }
  var options = {
  xAxes: [{
    ticks: {
        autoSkip: true,
        maxTicksLimit: 20
    }
}],
  type: 'line',
  data: demanddata ,
  options:{
    maintainAspectRatio: false,
    responsive: true,
    legend: {
      position: "top",
    },
    title: {
      position: "top",
      display: true,
    },
    tooltips: {
      mode: "index",
      intersect: false,
    },
    hover: {
      mode: "nearest",
      intersect: true,
    },
    elements: {
      point: {
        radius: 0,
        hoverRadius: 0,
      },
    },

    scales: {
            xAxes: [{
                afterTickToLabelConversion: function(data){


                    var xLabels = data.ticks;

                    xLabels.forEach(function (labels, i) {
                        if (i % 4 == 0){
                            xLabels[i] = '';
                        }
                    });
                } 
            }]   
        },
   
  }}

var canvas = document.getElementById('forecast');

var ctx = canvas.getContext('2d');
var chart = new Chart(ctx, options);

var overlay = document.getElementById('overlay');
var startIndex = 0;
overlay.width = canvas.width;
overlay.height = canvas.height;
var selectionContext = overlay.getContext('2d');
var selectionRect = {
  w: 0,
  startX: 0,
  startY: 0
};
var drag = false;
canvas.addEventListener('pointerdown', evt => {
  const points = chart.getElementsAtEventForMode(evt, 'index', {
    intersect: false
  });
  startIndex = points[0]._index;
  const rect = canvas.getBoundingClientRect();
  selectionRect.startX = evt.clientX - rect.left;
  selectionRect.startY = chart.chartArea.top;
  drag = true;
  // save points[0]._index for filtering
});
canvas.addEventListener('pointermove', evt => {

  const rect = canvas.getBoundingClientRect();
  if (drag) {
    const rect = canvas.getBoundingClientRect();
    selectionRect.w = (evt.clientX - rect.left) - selectionRect.startX;
    selectionContext.globalAlpha = 0.5;
    selectionContext.clearRect(0, 0, canvas.width, canvas.height);
    selectionContext.fillRect(selectionRect.startX,
      selectionRect.startY,
      selectionRect.w,
      chart.chartArea.bottom - chart.chartArea.top);
  } else {
    selectionContext.clearRect(0, 0, canvas.width, canvas.height);
    var x = evt.clientX - rect.left;
    if (x > chart.chartArea.left) {
      selectionContext.fillRect(x,
        chart.chartArea.top,
        1,
        chart.chartArea.bottom - chart.chartArea.top);
    }
  }
});
canvas.addEventListener('pointerup', evt => {

  const points = chart.getElementsAtEventForMode(evt, 'index', {
    intersect: false
  });
  drag = false;
  console.log('implement filter between ' + options.data.labels[startIndex] + ' and ' + options.data.labels[points[0]._index]);  
});
  </script>
  <script>
    const myChart = new Chart(
      document.getElementById('forecast'),
    );


    document.querySelector('.forecast-card-body').addEventListener('click', e => {
    e.currentTarget.classList.toggle('modal');
    chart.reflow();
});

  </script>